# Node.js dependencies
backend/node_modules/
frontend/node_modules/

# Environment variables
backend/.env
backend/.env.local
backend/.env.production
frontend/.env
frontend/.env.local
frontend/.env.production

# Database
backend/data/


.env
/frontend/.env
/backend/.env

node_modules/

# Python
__pycache__/
*.pyc
transcriber/venv/
transcriber/.env
backend/uploads/
backend/src/uploads
.DS_Store
